html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin:0 auto;
    max-width: 800px;
    padding:0 0 80px 0;
    
    .header {
        padding:60px;
        font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: center;
        
        h1 {
            font-size: 60px;
            font-weight: 100;
            padding:10px 0;
            margin:0;
            color:#777;
        }
        
        h2 {
            font-size: 20px;
            padding:0;
            margin:0;
            color: #aaa;
        }
        
        h3 {
            font-size: 14px;
            padding:0;
            margin: 0;
            color: #ccc;
            padding:10px;
        }
    }
}

.menu {
    list-style: none;
    padding:0;
    margin:0;
    
    li {
        padding:0;
        margin:0;
        text-align: center;
        margin:0 0 10px 0;
        padding:0 10px;
        
        button {
            width: 80%;
        }
    }
}

.sudoku-table {
    width: 450px;
    height: 450px;
    background: #ccc;
    list-style: none;
    margin:0 auto;
    padding:0;
    
    li {
        width: 50px;
        height: 50px;
        float: left;
        
        input, span {
            width: 48px;
            height: 48px;
            border: 1px solid #ddd;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            line-height: 48px;
        }
        
        input {
            display: none;
            padding:0;
            
            &:focus {
                outline:none;
            }
        }
        
        span {
            display: block;
            background: #f4f4f4;
        }
        
        &.editable {
            input {
                display: block;
            }
            
            span {
                display: none;
            }
        }
        
        &.conflict {
            input, span {
                background:#ffcccc;
                border:2px solid #ffbbbb;
            }
        }
        
        &.col-1 {
            span, input {
                border-left:2px solid #999;
            }
        }
        
        &.col-3 {
            span, input {
                border-right:2px solid #999;
            }
        }
        
        &.col-6 {
            span, input {
                border-right:2px solid #999;
            }
        }
        
        &.col-9 {
            span, input {
                border-right:2px solid #999;
            }
        }
        
        &.row-1 {
            span, input {
                border-top:2px solid #999;
            }
        }
        
        &.row-3 {
            span, input {
                border-bottom:2px solid #999;
            }
        }
        
        &.row-6 {
            span, input {
                border-bottom:2px solid #999;
            }
        }
        
        &.row-9 {
            span, input {
                border-bottom:2px solid #999;
            }
        }
    }
}
